.stories__section {
  padding: 140px 0;
}
.stories__wrapper {
  text-align: center;
}
.stories__title {
  max-width: 932px;
  font-family: "Livvic";
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  margin-bottom: 56px;
}
.stories__title-color {
  color: #79c8c7;
}
.stories__cards {
  display: flex;
  align-items: center;
  gap: 30px;
}
.stories__cards-box {
  max-width: 350px;
  position: relative;
}
.card__box-bg {
  width: 67px;
  height: 56px;
  position: absolute;
  top: -35px;
  left: 130px;
  z-index: -2;
}
.stories__box-text {
  font-family: "Livvic";
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  margin-bottom: 24px;
  color: #fff;
}
.stories__name {
  font-family: "Livvic";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79c8c7;
}
.stories__name-abautUs {
  font-family: "Livvic";
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 32px;
}

@media only screen and (max-width: 960px) {
  .stories__cards {
    flex-direction: column;
    gap: 48px;
  }
  .build__card-title {
    font-size: 32px;
    line-height: 32px;
  }
}
